<button class="btn btn-primary mb-5 btn-block" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    Formulario de ingreso de puntos
</button>

<div class="collapse" id="collapseExample">
    <div class="card card-body">

        <form [formGroup]="puntosForm">
            <div class="row">
                <div class="col-md-6">
                    <label>
                        Descripción:
                    </label>
                    <input type="text" class="form-control" name="nom" [(ngModel)]="Punto.descrip"
                        formControlName="Descrip">


                </div>

                <div class="col-md-6">
                    <label>
                        Puntos:
                    </label>
                    <input type="number" class="form-control" name="ape" [(ngModel)]="Punto.puntos"
                        formControlName="Puntos">


                </div>


                <div class="col-md-6">
                    <label>
                        Tope:
                    </label>
                    <input type="number" class="form-control" name="email" [(ngModel)]="Punto.tope"
                        formControlName="Tope">


                </div>

                <div class="col-md-12 mt-2">
                    <label>
                        Activo:
                        <input type="checkbox" class="form-control" name="tel"
                        [(ngModel)]="Punto.activo" formControlName="Activo">
                    </label>
                   

                </div>




            </div>

            <button class="btn btn-primary mt-3" (click)="postPuntos()" [disabled]="!puntosForm.valid">Agregar
                puntos</button>

        </form>
    </div>
</div>




<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Activo</th>
            <th scope="col">Tope</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let punt of arrPuntos">
            <th scope="row">{{punt.id}}</th>
            <td>{{punt.descrip}} </td>
            <td>{{punt.activo}}</td>
            <td>{{punt.tope}}</td>
            <td>

                <button type="button" (click)="edit(punt)" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample" class="mr-2 btn btn-success">Editar</button>

                <button type="button" (click)="delete(punt.id)" class="btn btn-danger">Eliminar</button>

            </td>
        </tr>
    </tbody>
</table>